.heading{
    font-family: 'Courier New', Courier, monospace;
    background-color:antiquewhite;
    font-weight: bold;
}
.body{
    background-color:antiquewhite;
}

.list.index{
    font-size: 24px;
}
.list,.para{
    color:rgb(230, 103, 103);
}

a{
    text-decoration: none;
    color:rgb(230, 103, 103);
    
}

.heading{
    color: orange;
}


div{
    border: 5px solid orange;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 10px;
    border-radius: 12px;
    font-size: 3em;
    display: inline;
}